/* Footer.css */
footer {
    margin-top: 100px;
    background-color: #fa3372; 
    color: black;
    text-align: center; 
    padding: 20px; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}

footer h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

footer h2 a{
    color: black;
}

footer p{
    font-size: 15px;
    margin-top: -20px;
}